<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>The PC Game Board</h1>
<p><a href="/pc-game-create">Create PC Game</a></p>
<p><a href="/all">View all PC Game</a></p>
<!--<p><a href="/viewing-tasks-by-status">Viewing tasks by status</a></p>-->

<!--<td><a th:href="@{viewing-tasks-by-status/{status}(status=${0})}">Show NOT_STARTED</a></td><br/>-->
<!--<td><a th:href="@{viewing-tasks-by-status/{status}(status=${1})}">Show IN_PROGRESS</a></td><br/>-->
<!--<td><a th:href="@{viewing-tasks-by-status/{status}(status=${2})}">Show COMPLETED</a></td><br/>-->
</body>
</html>